<div class="container-fluid d-flex p-3 justify-content-md-between">
  <select [(ngModel)]='selectOption' (ngModelChange)="navigatePage(selectOption)" class="form-select center w-25 bg-warning">
    <option value="EnCours">En Cours</option>
    <option value="Termine">Pret</option>
    <option value="Livre">Livré</option>
  </select>
  <button class="btn bg-warning"data-bs-toggle="modal"data-bs-target="#exampleModalCommande">
    <i class="fas fa-plus-circle p-1"></i>Commande</button>
</div>
<div class="d-flex">
  <h5 class="text-white" style="margin-left: 10px;">Nombre de Commande :</h5><h5 class="text-warning px-1">{{nombreCommande}}</h5>
</div>

<!------------------------Model Ajouter Commande------------------>
<div class="modal fade" id="exampleModalCommande" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ajouter une Commande</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="commandeEncoursForm">
          <div class="row mb-3">
            <div class="col input-group">
              <input type="date" name="deliveryDate" id="" class="form-control" formControlName="deliveryDate">
            </div>
            <div class="col">
              <select class="form-select" aria-label="Choisir une Boutique" formControlName="deliveryShop">
                <option selected>Boutique de provenance</option>
                <option *ngFor="let shop of shopData" [value]="shop._id" class="text-black">{{shop.manager.firstName}}</option>
              </select>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col input-group">
              <span class="input-group-text bg-black text-warning">Avance</span>
              <input type="number" class="form-control" placeholder="Saisir l'avance" formControlName="advance">
            </div>
            <div class="col input-group">
              <span class="input-group-text bg-black text-warning">Remise</span>
              <input type="number" class="form-control" placeholder="Saisir l'avance" formControlName="discount">
            </div>
          </div>
          <div class="row mb-3">
            <div class="col input-group">
            <select class="form-select" aria-label="Choisir une Boutique" formControlName="owner">
              <option selected>Boutique de livraison</option>
              <option *ngFor="let shop of shopData" [value]="shop._id" class="text-black">{{shop.manager.firstName}}</option>
            </select>
          </div>
          <div class="col input-group">
            <select class="form-select" aria-label="Choisir un Client" formControlName="shopId">
              <option selected>Choisir un clent</option>
              <option *ngFor="let client of clientData" [value]="client._id" class="text-black">{{client.firstName}} {{client.lastName}}</option>
            </select>
          </div>
          </div>
          <div class="row mb-3">
            <div formArrayName="products">
              <div *ngFor="let product of products.controls; let i = index" class="mb-3">
                <div [formGroupName]="i">
                  <h4>Produit {{ i + 1 }}</h4>
                  <div class="row mb-3">
                    <div class="col">
                      <select class="form-select" aria-label="Choisir un Client" id="productName" formControlName="originalProductId">
                        <option selected>Choisir un produit</option>
                        <option *ngFor="let produit of produitData" [value]="produit._id" class="text-black">{{produit.name}}</option>
                      </select>
                    </div>
                    <div class="col input-group">
                      <span class="input-group-text bg-black text-warning">Qnté</span>
                      <input type="number" class="form-control" id="productQuantity" formControlName="orderQuantity">
                    </div>
                  </div>
                    <div class="row mb-3 mt-3">
                      <div class="col input-group">
                        <span class="input-group-text bg-black text-warning">Price</span>
                        <input type="number" class="form-control" placeholder="Saisir le prix" formControlName="price">
                      </div>
                      <div class="col input-group">
                        <span class="input-group-text bg-black text-warning">Size</span>
                        <input type="text" class="form-control" placeholder="Saisir le size" formControlName="size">
                      </div>
                    </div>


                </div>
              </div>
              <button type="button" class="btn btn-success" (click)="addProduct()"><i class="fas fa-plus-circle p-1"></i>Produit</button>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fermer</button>
        <button type="button" class="btn btn-warning" (click)="submitCommande(commandeEncoursForm.value)" >Enregistrer</button>
      </div>
    </div>
  </div>
</div>


<!----Liste des commandes----------------------->
<ng-container *ngIf="commandeData?.length != 0">
  <div class="m-3 table-responsive">
    <table class="table table-bordered border-warning table-dark table-striped">
      <thead>
        <tr>
          <th scope="col" class="text-warning">Numero</th>
          <th scope="col" class="text-warning">Date</th>
          <th scope="col" class="text-warning">Commande</th>
          <!-- <th scope="col" class="text-warning">Client</th> -->
          <th scope="col" class="text-warning">Avance</th>
          <th scope="col" class="text-warning">Total</th>
          <th scope="col" colspan="2" class="text-warning">Options</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let commande of commandeData">
          <td>{{commande.orderNumber}}</td>
          <td>{{formatDate(commande.updatedAt)}}</td>
          <td>
            <ul>
              <li *ngFor="let produit of commande.products" class="list-unstyled">
                {{ produit.name }}
              </li>
            </ul>
          </td>
          <!-- <td>{{ commande.owner.firstName}} {{ commande.owner.lastName}}</td> -->
          <td>{{ commande.advance }}</td>
          <td>{{ commande.totalOrder }}</td>
          <td><button class="btn btn-success mx-2" (click)="validerCommande(commande)"><i class="fas fa-edit"></i></button></td>
          <td><button class="btn btn-success mx-2" (click)="makePDF(commande)"><i class="fas fa-print"></i></button></td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-container>

<ng-container *ngIf="loading">
  <div class="text-center text-warning">
    <i class="fas fa-spinner fa-spin fa-3x"></i>
  </div>
</ng-container>

<ng-container *ngIf="commandeData?.length == 0">
  <div class="">
    <h5 class="mx-2 text-white">La liste est vide, pas de commande en cours</h5>
  </div>
</ng-container>







