<!-- <h4 class="mb-3">Gestion de la Boutique</h4> -->
<div class="container mt-3">
  <div class="card mb-3 bg-warning">
    <div class="card-body">
      <h5 class="card-title text-center">Caisse</h5>
      <div class="text-center">
        <button class="btn btn-dark text-warning" routerLink="/caisse"><i class="fa fa-eye"></i></button>
      </div>
    </div>
  </div>
  <div class="card mb-3 bg-warning">
    <div class="card-body">
      <h5 class="card-title text-center">Generale</h5>
      <div class="text-center">
        <a href="#" class="btn btn-dark text-warning" routerLink="/general"><i class="fa fa-eye"></i></a>
      </div>
    </div>
  </div>
  <div class="card mb-3 bg-warning">
    <div class="card-body">
      <h5 class="card-title text-center">Salaires</h5>
      <div class="text-center">
        <a href="#" class="btn btn-dark text-warning" routerLink="/employee"><i class="fa fa-eye"></i></a>
      </div>
    </div>
  </div>
  <!-- <div class="card mb-3 bg-warning">
    <div class="card-body">
      <h5 class="card-title text-center">Autre Facture</h5>
      <div class="text-center">
        <a href="#" class="btn btn-dark text-warning" routerLink="/autrefacture"><i class="fa fa-eye"></i></a>
      </div>
    </div>
  </div> -->
</div>


