<button class="btn btn-warning mt-2 mx-2" (click)="navigatePrevious()" style="height: 37px; width: 35px;"><i class="fa fa-reply"></i></button>
<div class="card m-5">
  <div class="card-header bg-warning text-center">Afficher une Boutique</div>
  <div class="card-body">
    <form>
      <div class="row mb-3">
        <div class="col input-group">
          <span class="input-group-text" id="basic-addon1">Name</span>
          <input type="text" class="form-control" [(ngModel)]="boutiqueData.name" name="name">
        </div>
        <div class="col input-group">
          <span class="input-group-text" id="basic-addon1">Adres</span>
          <input type="text" class="form-control" [(ngModel)]="boutiqueData.adress" name="adresse">
        </div>
      </div>
      <div class="row mb-3">
        <div class="col input-group">
          <span class="input-group-text" id="basic-addon1">Crée :</span>
          <input type="text" class="form-control" [(ngModel)]="boutiqueData.createdAt" name="createdAt">
        </div>
        <div class="col input-group">
          <span class="input-group-text" id="basic-addon1">Modif :</span>
          <input type="text" class="form-control" [(ngModel)]="boutiqueData.updatedAt" name="updatedAt">
        </div>

      </div>
      <div class="row mb-3">
        <div class="col input-group">
          <span class="input-group-text" id="basic-addon1">FName</span>
          <input type="text" class="form-control" [(ngModel)]="boutiqueData.manager.firstName" name="firstName">
        </div>
        <div class="col input-group">
          <span class="input-group-text" id="basic-addon1">LName</span>
          <input type="text" class="form-control" [(ngModel)]="boutiqueData.manager.lastName" name="lastName">
        </div>
      </div>
      <div class="row mb-3">
        <div class="col input-group">
          <span class="input-group-text" id="basic-addon1">Phone</span>
          <input type="text" class="form-control" [(ngModel)]="boutiqueData.manager.phone" name="phone">
        </div>
        <div class="col input-group">
          <span class="input-group-text" id="basic-addon1">Uname</span>
          <input type="text" class="form-control" [(ngModel)]="boutiqueData.manager.username" name="username">
        </div>
      </div>
    </form>
  </div>
</div>
