.container{
  display:flex;
  flex-wrap:wrap;
}
.card{
  width:17rem;
  margin-bottom:30px;
  transition:0.3s ease-in-out;
}
.card:hover{
  transition:0.3s ease-in-out;
  transform:scale(1.1);
}
small{
  color:red;
}
