<button class="btn btn-warning mt-2 mx-2" routerLink="/comptabilite" style="height: 37px; width: 35px;"><i class="fa fa-reply"></i></button>
<div class="d-flex justify-content-evenly mt-5">
  <div class="text-warning"><h4>TOTAL ENTREES: <strong class="text-white">{{totalEntree}}</strong></h4></div>
  <div class="text-warning"><h4>TOTAL SORTIES: <strong class="text-white">{{totalSortie}}</strong></h4></div>
  <div class="text-warning"><h4>TOTAL SALAIRES: <strong class="text-white">{{salaire}}</strong></h4></div>
</div>
<div class="text-center mt-5">
  <div class="text-warning"><h3>TOTAL MOIS: <strong class="text-white">{{total}}</strong></h3></div>
</div>
