<ng-container *ngIf="stockData?.length !=0">
<div class="container mt-3">
  <div class="card mb-3 bg-warning" style="width: 18rem;" *ngFor="let stock of stockData">
    <div class="card-body">
      <h5 class="card-title text-center">{{stock.categoryName}}</h5>
      <div class="text-center">
        <h4>Nbr: {{stock.productCount}}</h4>
      </div>
    </div>
  </div>
</div>
</ng-container>
<ng-container *ngIf="stockData?.length ==0">
  <div class="container mt-3 mx-2">
      <p>La liste est vide !</p>
  </div>
  </ng-container>


<ng-container *ngIf="loading">
  <div class="text-center text-warning">
    <i class="fas fa-spinner fa-spin fa-3x"></i>
  </div>
</ng-container>

